@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  //  Layout
  --mobile: 375px;
  --desktop: 1440px;
  // Primary
  --strongCyan: hsl(172, 67%, 45%);
  // Neutral
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan1: hsl(186, 14%, 43%);
  --darkGrayishCyan2: hsl(184, 14%, 56%);
  --lightGrayishCyan1: hsl(185, 41%, 84%);
  --lightGrayishCyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  //  Typography

  --fontSize: 24px;
  --spaceMono: 'Space Mono', monospace;
  --weight1: 400;
  --weight2: 500;
  --weight3: 700;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--strongCyan);
  height: 100vh;
  font-size: var(--spaceMono);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24vh;
}

.cal-container {
  padding: 35px;
  height: 100vh;
  border-top: 1px solid var(--white);
  border-radius: 15px;
  background-color: var(--white);
  font-size: var(--spaceMono);
}

.input {
  width: 100%;
  margin-bottom: 30px;
  label {
    display: flex;
    flex-direction: column;
    font-size: 20px;

    p {
      margin-bottom: 12px;
      font-size: var(--spaceMono);
    }

    input {
      padding: 15px;
      text-align: right;
      font-size: var(--fontSize);
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: var(--lightGrayishCyan2);
      font-size: var(--spaceMono);
    }

    #person {
      background-image: url('/images/icon-person.svg');
      background-repeat: no-repeat;
      background-position: left;
      background-position-x: 20px;
    }

    #dollars {
      background-image: url('/images/icon-dollar.svg');
      background-repeat: no-repeat;
      background-position: left;
      background-position-x: 20px;
    }
  }
}
